@using BlazorMQTTTestingWASM.Models
@using MQTTnet
@inject MQTTnet.ClientLib.MqttService MqttService

@page "/Widgets"

<PageTitle>Widgets</PageTitle>

<h1>Widgets</h1>



<MudCard Outlined=true>
    <MudCardContent>
            <MudItem xs="3">
                @if (_EditIcon)
            {
                <MudTextField @bind-Value="@Title" Label="Outlined" Variant="Variant.Outlined"></MudTextField>
                    <!--
                    <MudTextField @bind-Value="TextValue" Label="Standard" Variant="Variant.Text"></MudTextField>
                    <MudTextField @bind-Value="TextValue" Label="Filled" Variant="Variant.Filled"></MudTextField>
                   

                    
                    -->

                }
                @if (!_EditIcon)
                {
                    <MudText Typo="Typo.h6">
                        @Title
                    </MudText>
                }
            </MudItem>
            <MudItem>
                <MudText>
                    <MudToggleIconButton @bind-Toggled="_EditIcon"
                                         Icon="@Icons.Material.Filled.Edit"
                                         Color="MudBlazor.Color.Primary"
                                         ToggledIcon="@Icons.Material.Filled.CheckCircle"
                                         ToggledColor="MudBlazor.Color.Warning"
                                         title="@(_EditIcon ? "On" : "Off")" />
                </MudText>
                    <MudChip T="string" Color="MudBlazor.Color.Default" OnClose="Closed">Closable</MudChip>
                    <MudChip T="string" Color="MudBlazor.Color.Warning" OnClose="Closed">Closable</MudChip>
                    <MudChip T="string" Color="MudBlazor.Color.Primary" OnClose="Closed" CloseIcon="@Icons.Material.Filled.AlarmAdd">Closable</MudChip>
                    <MudChip T="string" Color="MudBlazor.Color.Success" OnClose="Closed" CloseIcon="@Icons.Material.Filled.AlarmOn">Closable</MudChip>
                    @code {
        void Closed(MudChip<string> chip)
        {
            // react to chip closed
        }
                    }

                    <!-- </L>
                        <MudChip T="string">Default</MudChip>
                        <MudChip T="string" Color="MudBlazor.Color.Primary">Primary</MudChip>
                    <MudChip T="string" Color="MudBlazor.Default" OnClose="Closed">Closable</MudChip>
                    <MudChip T="string" Color="MudBlazor.Error" OnClose="Closed">Closable</MudChip>
                        <MudChip T="string" Color="MudBlazor.Color.Secondary">Secondary</MudChip>
                        <MudChip T="string" Color="MudBlazor.Color.Info">Info</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Success">Success</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Warning">Warning</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Error">Error</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Dark">Dark</MudChip>
                        <MudDivider />
                        <MudChip T="string" Disabled="true">Default</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Primary">Primary</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Secondary">Secondary</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Info">Info</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Success">Success</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Warning">Warning</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Error">Error</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Dark">Dark</MudChip>-->
            </MudItem>
        <MudLink Href="/SetLightingSchedule">
            Lighting Settings
        </MudLink>
    </MudCardContent>
</MudCard>

@code {

    public bool _EditIcon { get; set; }

    public string Title { get; set; } = "Edit Title";
}

<MudCard Outlined=true>
    <MudCardContent>
        <MudItem xs="6">
            @if (_EditIcon2)
            {
                <MudTextField @bind-Value="@Title2" Label="Outlined" Variant="Variant.Outlined"></MudTextField>
                <!--
                <MudTextField @bind-Value="TextValue" Label="Standard" Variant="Variant.Text"></MudTextField>
                <MudTextField @bind-Value="TextValue" Label="Filled" Variant="Variant.Filled"></MudTextField>



                -->
            }
            @if (!_EditIcon2)
            {
                <MudText Typo="Typo.h6">
                    @Title2
                </MudText>
            }
        </MudItem>
        <MudItem xs="3">
            <MudText>
                <MudToggleIconButton @bind-Toggled="_EditIcon2"
                                     Icon="@Icons.Material.Filled.Edit"
                                     Color="MudBlazor.Color.Primary"
                                     ToggledIcon="@Icons.Material.Filled.CheckCircle"
                                     ToggledColor="MudBlazor.Color.Warning"
                                     title="@(_EditIcon2 ? "On" : "Off")" />
            </MudText>
            <MudDivider>
                <MudItem>
                    <MudChip T="string">Default</MudChip>
                    <MudChip T="string" Color="MudBlazor.Color.Primary">Primary</MudChip>

                    <!-- </L>
                    <MudChip T="string" Color="MudBlazor.Default" OnClose="Closed">Closable</MudChip>
                    <MudChip T="string" Color="MudBlazor.Error" OnClose="Closed">Closable</MudChip>
                        <MudChip T="string" Color="MudBlazor.Color.Secondary">Secondary</MudChip>
                        <MudChip T="string" Color="MudBlazor.Color.Info">Info</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Success">Success</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Warning">Warning</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Error">Error</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Dark">Dark</MudChip>
                        <MudDivider />
                        <MudChip T="string" Disabled="true">Default</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Primary">Primary</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Secondary">Secondary</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Info">Info</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Success">Success</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Warning">Warning</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Error">Error</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Dark">Dark</MudChip>-->
                </MudItem>
            </MudDivider>
        </MudItem>
        <MudLink Href="/TempHum">
            Temperature and Humidity
        </MudLink>
    </MudCardContent>
</MudCard>

@code {

    public bool _EditIcon2 { get; set; }

    public string Title2 { get; set; } = "Edit Title";

}
<MudCard Outlined=true>
    <MudCardContent>
        <MudItem xs="6">
            @if (_EditIcon3)
            {
                <MudTextField @bind-Value="@Title3" Label="Outlined" Variant="Variant.Outlined"></MudTextField>
                <!--
                <MudTextField @bind-Value="TextValue" Label="Standard" Variant="Variant.Text"></MudTextField>
                <MudTextField @bind-Value="TextValue" Label="Filled" Variant="Variant.Filled"></MudTextField>



                -->
            }
            @if (!_EditIcon3)
            {
                <MudText Typo="Typo.h6">
                    @Title3
                </MudText>
            }
        </MudItem>
        <MudItem xs="3">
            <MudText>
                <MudToggleIconButton @bind-Toggled="_EditIcon3"
                                     Icon="@Icons.Material.Filled.Edit"
                                     Color="MudBlazor.Color.Primary"
                                     ToggledIcon="@Icons.Material.Filled.CheckCircle"
                                     ToggledColor="MudBlazor.Color.Warning"
                                     title="@(_EditIcon3 ? "On" : "Off")" />
            </MudText>
            <MudDivider>
                <MudItem>
                    <MudChip T="string">Default</MudChip>
                    <MudChip T="string" Color="MudBlazor.Color.Primary">Primary</MudChip>

                    <!-- </L>
                    <MudChip T="string" Color="MudBlazor.Default" OnClose="Closed">Closable</MudChip>
                    <MudChip T="string" Color="MudBlazor.Error" OnClose="Closed">Closable</MudChip>
                        <MudChip T="string" Color="MudBlazor.Color.Secondary">Secondary</MudChip>
                        <MudChip T="string" Color="MudBlazor.Color.Info">Info</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Success">Success</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Warning">Warning</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Error">Error</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Dark">Dark</MudChip>
                        <MudDivider />
                        <MudChip T="string" Disabled="true">Default</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Primary">Primary</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Secondary">Secondary</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Info">Info</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Success">Success</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Warning">Warning</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Error">Error</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Dark">Dark</MudChip>-->
                </MudItem>
            </MudDivider>
        </MudItem>
        <MudLink Href="/SetLightingSchedule">
            Water Quality
        </MudLink>
    </MudCardContent>
</MudCard>

@code {

    public bool _EditIcon3 { get; set; }

    public string Title3 { get; set; } = "Edit Title";

    public string TextValue3 { get; set; } = "Edit Text";
}

<MudCard Outlined=true>
    <MudCardContent>
        <MudItem xs="6">
            @if (_EditIcon4)
            {
                <MudTextField @bind-Value="@Title4" Label="Outlined" Variant="Variant.Outlined"></MudTextField>
                <!--
                <MudTextField @bind-Value="TextValue" Label="Standard" Variant="Variant.Text"></MudTextField>
                <MudTextField @bind-Value="TextValue" Label="Filled" Variant="Variant.Filled"></MudTextField>



                -->
            }
            @if (!_EditIcon4)
            {
                <MudText Typo="Typo.h6">
                    @Title4
                </MudText>
            }
        </MudItem>
        <MudItem xs="3">
            <MudText>
                <MudToggleIconButton @bind-Toggled="_EditIcon4"
                                     Icon="@Icons.Material.Filled.Edit"
                                     Color="MudBlazor.Color.Primary"
                                     ToggledIcon="@Icons.Material.Filled.CheckCircle"
                                     ToggledColor="MudBlazor.Color.Warning"
                                     title="@(_EditIcon4 ? "On" : "Off")" />
            </MudText>
            <MudDivider>
                <MudItem>
                    <MudChip T="string">Default</MudChip>
                    <MudChip T="string" Color="MudBlazor.Color.Primary">Primary</MudChip>

                    <!-- </L>
                    <MudChip T="string" Color="MudBlazor.Default" OnClose="Closed">Closable</MudChip>
                    <MudChip T="string" Color="MudBlazor.Error" OnClose="Closed">Closable</MudChip>
                        <MudChip T="string" Color="MudBlazor.Color.Secondary">Secondary</MudChip>
                        <MudChip T="string" Color="MudBlazor.Color.Info">Info</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Success">Success</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Warning">Warning</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Error">Error</MudChip>
                        <MudChip T="string" MudBlazor.Color="MudBlazor.Color.Dark">Dark</MudChip>
                        <MudDivider />
                        <MudChip T="string" Disabled="true">Default</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Primary">Primary</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Secondary">Secondary</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Info">Info</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Success">Success</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Warning">Warning</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Error">Error</MudChip>
                        <MudChip T="string" Disabled="true" MudBlazor.Color="MudBlazor.Color.Dark">Dark</MudChip>-->
                </MudItem>
            </MudDivider>
        </MudItem>
        <MudLink Href="/SetLightingSchedule">
            Leak Detection
        </MudLink>
    </MudCardContent>
</MudCard>

@code {

    public bool _EditIcon4 { get; set; }

    public string Title4 { get; set; } = "Edit Title";

}