@using BlazorMQTTTestingWASM.Models
@using MQTTnet
@inject MQTTnet.ClientLib.MqttService MqttService

@page "/Widgets"

<PageTitle>Widgets</PageTitle>

<h1>Dashboard</h1>


<MudCard Outlined=true>
    <MudCardContent>
        <MudGrid Justify="Justify.FlexStart">
            <MudItem xs="6">
                @if (_EditIcon1)
                {
                    <MudTextField @bind-Value="@Title1" Label="Outlined" Variant="Variant.Outlined"></MudTextField>
                }
                @if (!_EditIcon1)
                {
                    <MudText Typo="Typo.h5">
                        @Title1
                    </MudText>
                }
            </MudItem>
            <MudItem xs="6">
                <MudText>
                    <MudToggleIconButton @bind-Toggled="_EditIcon1"
                                         Icon="@Icons.Material.Filled.Edit"
                                         Color="MudBlazor.Color.Primary"
                                         ToggledIcon="@Icons.Material.Filled.CheckCircle"
                                         ToggledColor="MudBlazor.Color.Warning"
                                         title="@(_EditIcon1 ? "On" : "Off")" />
                </MudText>
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.h6">
                    Blue Brightness
                </MudText>
                <MudProgressLinear Value="25" Color="MudBlazor.Color.Info"/>
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.h6">
                    White Brightness
                </MudText>
                <MudProgressLinear Value="75" Color="MudBlazor.Color.Warning"/>
            </MudItem>

        </MudGrid>
        <!--<MudLink Href="/TempHum">
            Temperature and Humidity
        </MudLink>-->
    </MudCardContent>
</MudCard>

@code {

    public bool _EditIcon1 { get; set; }

    public string Title1 { get; set; } = "Edit Title";

}


<MudCard Outlined=true>
    <MudCardContent>
        <MudGrid Justify="Justify.FlexStart">
            <MudItem xs="6">
                @if (_EditIcon2)
                {
                    <MudTextField @bind-Value="@Title2" Label="Outlined" Variant="Variant.Outlined"></MudTextField>
                }
                @if (!_EditIcon2)
                {
                    <MudText Typo="Typo.h5">
                        @Title2
                    </MudText>
                }
            </MudItem>
            <MudItem xs="6">
                <MudText>
                    <MudToggleIconButton @bind-Toggled="_EditIcon2"
                                         Icon="@Icons.Material.Filled.Edit"
                                         Color="MudBlazor.Color.Primary"
                                         ToggledIcon="@Icons.Material.Filled.CheckCircle"
                                         ToggledColor="MudBlazor.Color.Warning"
                                         title="@(_EditIcon2 ? "On" : "Off")" />
                </MudText>
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.h6">
                    Tank Temperature: 22.1 °C
                </MudText>
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.h6">
                    Sump Temperature: 23.5 °C
                </MudText>
            </MudItem>
            <MudItem xs="12">
                    <MudChip T="string" Color="MudBlazor.Color.Success">Temp. Good</MudChip>
                    <MudChip T="string" Color="MudBlazor.Color.Warning">Humdity. Warn</MudChip>
            </MudItem>
            
        </MudGrid>
        <!--<MudLink Href="/TempHum">
            Temperature and Humidity
        </MudLink>-->
    </MudCardContent>
</MudCard>

@code {

    public bool _EditIcon2 { get; set; }

    public string Title2 { get; set; } = "Edit Title";

}


<MudCard Outlined=true>
    <MudCardContent>
        <MudGrid Justify="Justify.FlexStart">
            <MudItem xs="6">
                @if (_EditIcon3)
                {
                    <MudTextField @bind-Value="@Title3" Label="Outlined" Variant="Variant.Outlined"></MudTextField>
                }
                @if (!_EditIcon3)
                {
                    <MudText Typo="Typo.h5">
                        @Title3
                    </MudText>
                }
            </MudItem>
            <MudItem xs="6">
                <MudText>
                    <MudToggleIconButton @bind-Toggled="_EditIcon3"
                                         Icon="@Icons.Material.Filled.Edit"
                                         Color="MudBlazor.Color.Primary"
                                         ToggledIcon="@Icons.Material.Filled.CheckCircle"
                                         ToggledColor="MudBlazor.Color.Warning"
                                         title="@(_EditIcon3 ? "On" : "Off")" />
                </MudText>
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.h6">
                    Tank PH: 7.5
                </MudText>
            </MudItem>
            <MudItem xs="12">
                <MudChip T="string" Color="MudBlazor.Color.Success">PH Good</MudChip>
            </MudItem>

        </MudGrid>
        <!--<MudLink Href="/TempHum">
            Temperature and Humidity
        </MudLink>-->
    </MudCardContent>
</MudCard>

@code {

    public bool _EditIcon3 { get; set; }

    public string Title3 { get; set; } = "Edit Title";

}


<MudCard Outlined=true>
    <MudCardContent>
        <MudGrid Justify="Justify.FlexStart">
            <MudItem xs="6">
                @if (_EditIcon4)
                {
                    <MudTextField @bind-Value="@Title4" Label="Outlined" Variant="Variant.Outlined"></MudTextField>
                }
                @if (!_EditIcon4)
                {
                    <MudText Typo="Typo.h5">
                        @Title4
                    </MudText>
                }
            </MudItem>
            <MudItem xs="6">
                <MudText>
                    <MudToggleIconButton @bind-Toggled="_EditIcon4"
                                         Icon="@Icons.Material.Filled.Edit"
                                         Color="MudBlazor.Color.Primary"
                                         ToggledIcon="@Icons.Material.Filled.CheckCircle"
                                         ToggledColor="MudBlazor.Color.Warning"
                                         title="@(_EditIcon4 ? "On" : "Off")" />
                </MudText>
            </MudItem>
            <MudItem xs="12">
                <MudChip T="string" Color="MudBlazor.Color.Success">No Leaks</MudChip>
                <MudChip T="string" Color="MudBlazor.Color.Success">Water Level Good</MudChip>
            </MudItem>

        </MudGrid>
        <!--<MudLink Href="/TempHum">
            Temperature and Humidity
        </MudLink>-->
    </MudCardContent>
</MudCard>

@code {

    public bool _EditIcon4 { get; set; }

    public string Title4 { get; set; } = "Edit Title";

}
