@using BlazorMQTTTestingWASM.Models
@using MQTTnet
@inject MQTTnet.ClientLib.MqttService MqttService


<MudCard Outlined="true">
    <MudCardContent>
        <MudGrid Spacing="10">
            <MudItem xs="6">
                <MudText Typo="Typo.h6"
                         Align="MudBlazor.Align.Left">
                    Canopy Humidity: @tempHum.CanopyHum %
                </MudText>
                <MudToggleIconButton @bind-Toggled="_EditCanopyHumAlarm"
                                     Icon="@Icons.Material.Filled.AlarmOff"
                                     Color="MudBlazor.Color.Warning"
                                     ToggledIcon="@Icons.Material.Filled.AlarmOn"
                                     ToggledColor="MudBlazor.Color.Tertiary"
                                     title="@(_EditCanopyHumAlarm ? "On" : "Off")" />
                Canopy Humidity Alarms are @(_EditCanopyHumAlarm ? "On" : "Off")

                <span>
                    @if (_EditCanopyHumAlarm == true)
                    {
                        <MudNumericField @bind-Value="tempHum.CanopyHumAlarmLow"
                                         Label="Low Humidity Alarm"
                                         Variant="Variant.Outlined"
                                         Min="0" Max="100" />

                        <MudNumericField @bind-Value="tempHum.CanopyHumAlarmHigh"
                                         Label="High Humidity Alarm"
                                         Variant="Variant.Outlined"
                                         Min="0" Max="100" />
                    }
                </span>
            </MudItem>

            <MudItem xs="6">
                <MudText Typo="Typo.h6"
                         Align="MudBlazor.Align.Left">
                    Canopy Temperature: @tempHum.CanopyTemp °c
                </MudText>
                <MudToggleIconButton @bind-Toggled="_EditCanopyTempAlarm"
                                     Icon="@Icons.Material.Filled.AlarmOff"
                                     Color="MudBlazor.Color.Warning"
                                     ToggledIcon="@Icons.Material.Filled.AlarmOn"
                                     ToggledColor="MudBlazor.Color.Tertiary"
                                     title="@(_EditCanopyTempAlarm ? "On" : "Off")" />
                Canopy Temperature Alarms are @(_EditCanopyTempAlarm ? "On" : "Off")

                @if (_EditCanopyTempAlarm)
                {
                    <MudNumericField @bind-Value="tempHum.CanopyTempAlarmLow"
                                     Label="Low Temperature Alarm"
                                     Variant="Variant.Outlined"
                                     Min="0" Max="100" />

                    <MudNumericField @bind-Value="tempHum.CanopyTempAlarmHigh"
                                     Label="High Temperature Alarm"
                                     Variant="Variant.Outlined"
                                     Min="15" Max="30" />
                }
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

@code {

    public bool _EditCanopyHumAlarm { get; set; }

    public bool _EditCanopyTempAlarm { get; set; }
}

<MudCard Outlined="true">
    <MudCardContent>
        <MudGrid Spacing="10">
            <MudItem xs="6">
                <MudText Typo="Typo.h6"
                         Align="MudBlazor.Align.Left">
                    Tank Temperature: @tempHum.TankTemp %
                </MudText>
                <MudToggleIconButton @bind-Toggled="_EditTankTempAlarm"
                                     Icon="@Icons.Material.Filled.AlarmOff"
                                     Color="MudBlazor.Color.Warning"
                                     ToggledIcon="@Icons.Material.Filled.AlarmOn"
                                     ToggledColor="MudBlazor.Color.Tertiary"
                                     title="@(_EditTankTempAlarm ? "On" : "Off")" />
                Tank Temperature Alarms are @(_EditTankTempAlarm ? "On" : "Off")

                <span>
                    @if (_EditTankTempAlarm == true)
                    {
                        <MudNumericField @bind-Value="tempHum.TankTempAlarmLow"
                                         Label="Low Humidity Alarm"
                                         Variant="Variant.Outlined"
                                         Min="15" Max="30" />

                        <MudNumericField @bind-Value="tempHum.TankTempAlarmHigh"
                                         Label="High Humidity Alarm"
                                         Variant="Variant.Outlined"
                                         Min="15" Max="30" />
                    }
                </span>
            </MudItem>

            <MudItem xs="6">
                <MudText Typo="Typo.h6"
                         Align="MudBlazor.Align.Left">
                    Sump Temperature: @tempHum.SumpTemp °c
                </MudText>
                <MudToggleIconButton @bind-Toggled="_EditSumpTempAlarm"
                                     Icon="@Icons.Material.Filled.AlarmOff"
                                     Color="MudBlazor.Color.Warning"
                                     ToggledIcon="@Icons.Material.Filled.AlarmOn"
                                     ToggledColor="MudBlazor.Color.Tertiary"
                                     title="@(_EditSumpTempAlarm ? "On" : "Off")" />
                Canopy Temperature Alarms are @(_EditSumpTempAlarm ? "On" : "Off")

                @if (_EditSumpTempAlarm == true)
                {
                    <MudNumericField @bind-Value="tempHum.SumpTempAlarmLow"
                                     Label="Low Temperature Alarm"
                                     Variant="Variant.Outlined"
                                     Min="0" Max="100" />

                    <MudNumericField @bind-Value="tempHum.SumpTempAlarmHigh"
                                     Label="High Temperature Alarm"
                                     Variant="Variant.Outlined"
                                     Min="15" Max="30" />
                }
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

@code {

    public bool _EditTankTempAlarm { get; set; }

    public bool _EditSumpTempAlarm { get; set; }

    [Parameter]
    public int systemID { get; set; } = 0;
    [Parameter]
    public int basestationID { get; set; } = 0;
    [Parameter]
    public int nodeID { get; set; } = 0;

    TempHumDevice tempHum;

    private KeyValuePair<int, float?> windDirections;

    protected override async Task OnInitializedAsync()
    {
        this.tempHum = new TempHumDevice(MqttService, this.systemID, this.basestationID, this.nodeID);

        if (MqttService.IsConnected())
        {
            MqttService.MessageReceived += MqttClient_MessageReceived;
        }
    }

    private void MqttClient_MessageReceived(object sender, MqttApplicationMessageReceivedEventArgs e)
    {
        base.StateHasChanged();
    }
}
